<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
    <div class="jumbotron d-flex" style="background-color: #97cbf2; padding: 1em 1em 1em 1em;">
        <!-- Profile photo and contact details on the left -->
        <div class="col-6 d-flex flex-column align-items-center">
            <img src="img/profile.jpg" alt="Profile Photo" class="shadow bg-body-tertiary rounded-image mb-4" style="width: 200px; height: auto;">
            <ul style="list-style: none; text-align: left;">
                <li><strong>Phone </strong>| 416-123-4567</li>
                <li><strong>Email </strong>| mconcor82@gmail.com</li>
                <li><strong>LinkedIn </strong>| <a href="www.linkedin.com/in/moises-contreras-coronado-bb817081">Moises Contreras</a></li>
                <li><strong>GitHub </strong>| <a href="https://github.com/moises-contreras-">Moises Contreras</a></li>
            </ul>
        </div>
        <div class="col-6">
            <div class="about-intro" style="padding: 30px;">
                <h1>Hi, I'm Moises!</h1>
                I'm a finance guy turned <strong>Software Developer</strong>
                <br> passionate about <strong>Developing applications</strong>
                <p></p>
                <a href="/Resume-Moises Contreras.pdf" target="_blank" class="btn btn-primary">Open Resume</a>
            </div>
        </div>
    </div>
</main>

    
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
