<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
    <main class=”container”>
        <div class="center-div">
            <h2><strong>Moises Portfolio</strong></h2>
            <p>To showcase personal projects and services provided</p>
        </div>
        <div class="flex-container">
            <img src="/img/home-image.jpg" alt="programming" id="home-image">
        </div>            
    </main>
    
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>

    
   
            


