<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <main class=”container”>
        <div class=”jumbotron”>
            <div class="center-div">
            <p><h4><strong>Currently working on them!</strong></h4></p>
            <br>
            <img src="/img/oberon.gif" alt="Loading">
            <br>
            <br>
            <p>for future updates please check <a href="https://github.com/moises-contreras">github.com/moises-contreras</a></p>
            </div>
        </div>
    </main>
    
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
