<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
    
<main class="container">
    <div class="jumbotron">
        <div class="services-container">
            <!-- Service 1 -->
            <div class="service">
                <img class="services-image" src="/img/services-img1.jpg" alt="Networks Design">
                <div class="service-details">
                    <h3>Networks Consultation</h3>
                    <p>As a network specialist I can work with you to find the most appropriate solution to your network needs</p>
                    <a href="contact">More info...</a>
                </div>
            </div>
            <div class="service">
                <img class="services-image" src="/img/services-img2.jpg" alt="Application Development">
                <div class="service-details">
                    <h3>Application Development</h3>
                    <p>We can work together to find the best solution to develop your desired application</p>
                    <a href="contact">More info...</a>
                </div>
            </div>
            <div class="service">
                <img class="services-image" src="/img/services-img3.jpg" alt="Consultant Services">
                <div class="service-details">
                    <h3>Consulting Services</h3>
                    <p>For specific inquiries and needs. We can work together to solve any specific problem related to technology</p>
                    <a href="contact">More info...</a>
                </div>
            </div>
        </div>
    </div>
</main>

    
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
